<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.dao.IBumenDao">
<!-- 查出部门列表并分页 -->
<select id="bumen_list" parameterType="map" resultType="map">
select * from bumen where bumen_id like '%${text}%' or bumen_name like '%${text}%' or manager like '%${text}%' 
order by bumen_id  limit ${start},${limit} 
</select>

<!-- 查出部门列表中部门的数量 -->
<select id="bumen_list_total" parameterType="map" resultType="int">
select count(*) from bumen 
</select>

<!-- 向部门表中新增部门 -->
<insert id="bumen_add" parameterType="map">
insert into bumen (bumen_id,bumen_name,manager) values (#{uuid},#{bumen_name},#{manager})
</insert>

<!-- 根据bumen_id删除一个或多个部门 -->
<delete id="bumen_del" parameterType="map">
delete  from bumen where bumen_id in (${bumen_ids})
</delete>

<!-- 根据bumen_id删除部门 -->
<delete id="bumen_del_row" parameterType="map">
delete from bumen where bumen_id=#{bumen_id}
</delete>

<!-- 修改部门信息 -->
<update id="bumen_upd" parameterType="map">
update bumen set bumen_name=#{bumen_name},manager=#{manager} where bumen_id=#{bumen_id}
</update>

</mapper>